body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,184,1) 100%, rgba(0,212,255,1) 100%);
}


form{
    background-color: aliceblue;
    width: auto;
    height: auto;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    -webkit-box-shadow: 11px 11px 25px -7px rgba(0,0,0,0.71);
    -moz-box-shadow: 11px 11px 25px -7px rgba(0,0,0,0.71);
    box-shadow: 11px 11px 25px -7px rgba(0,0,0,0.71);
}

#botao{
    padding-top: 20px;
}